body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	padding: 20px 0;
	background-color: #EDE7F6;
	box-sizing: border-box;
	border: 10px solid #D1C4E9;
	text-align: center;
	font-family: 'Input Mono';
	font-size: 1.25em;
}

header h1 {
	text-shadow: 2px 3px #B39DDB;
}

main.main-section {
	text-align: center;
	padding: 30px;
}

main.main-section h3#message {
	font-size: 1.5em;
	padding-bottom: 5px;
}

body main.main-section button#start-button {
	background-color: #E8EAF6;
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #1A237E;
	border-radius: 10px;
	padding: 0 10px;
	font-size: 1em;
}

body main.main-section button#start-button:hover {
	background-color: #C5CAE9;
}

main.main-section section#word-section {
	text-align: center;
	display: none;
	padding: 20px;
	background-color: #E8EAF6;
	border: 8px solid #B39DDB;
	box-shadow: 3px 3px 4px #F5F5F5;
}

main.main-section section#word-section div p#word-display {
	display: none;
	font-size: 2em;
	font-weight: bold;
	color: #1A237E;
}

main.main-section section#word-section form#form {
	text-align: center;
	margin: 30px;
	display: none;
}

main.main-section section#word-section form#form input#letter-submit {
	text-align: center;
	width: 5%;
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
}

main.main-section section#word-section form#form input#letter-submit:focus {
	-webkit-box-shadow: 0 0 12px rgba(237 ,231 ,246, 0.5);
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

main.main-section section#word-section form#form button.submit-button {
	padding: 10px;
	margin-left: 20px;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #D1C4E9;
	font-weight: bold;
	font-size: 0.8em;
}

main.main-section section#word-section p#error-message {
	text-align: center;
	color: #F44336;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 12px rgba(237, 231, 246, 0.1);
	}

	50% {
		-webkit-box-shadow: 0 0 12px rgba(237, 231, 246, 0.99);
	}

	100% {
		-webkit-box-shadow: 0 0 12px rgba(237, 231, 246, 0.1);
	}
}
