body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	padding: 40px 0;
	background-color: #EDE7F6;
	box-sizing: border-box;
	border: 10px solid #D1C4E9;
	text-align: center;
	font-family: 'Input Mono';
	font-size: 1.25em;
}

header h1 {
	text-shadow: 2px 3px #D1C4E9;
}

main.main-section {
	text-align: center;
	padding: 30px;
}

main.main-section h3#message {
	font-size: 1.5em;
	padding-bottom: 30px;
}

body main.main-section button#start-button {
	background-color: #E8EAF6;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #1A237E;
	border-radius: 10px;
	padding: 5px 20px;
	font-size: 1em;
}

body main.main-section button#start-button:hover {
	background-color: #C5CAE9;
}

main.main-section section#word-section {
	display: none;
	padding: 20px;
	background-color: #E8EAF6;
	border: 2px solid #1A237E;
	box-shadow: 3px 3px 4px #F5F5F5;
}

main.main-section section#word-section div p#word-display {
	display: none;
	font-size: 2em;
	color: #1A237E;
}

main.main-section section#word-section form#form {
	text-align: center;
	margin: 60px;
	display: none;
}

main.main-section section#word-section form#form input#letter-submit{
	text-align: center;
	width: 5%;
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
}

main.main-section section#word-section form#form button.submit-button {

}

main.main-section section#word-section p#error-message {
	display: none;
	text-align: center;
	color: #B71C1C;
}
